
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" routerLink="/dashboard">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
            <li class="nav-item">
              <a class="nav-link " aria-current="page"  routerLink='/Dashboard' routerLinkActive="'is-active'">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink='/about'>About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/contact' routerLinkActive="'is-active'">Contact</a>   
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/publication' routerLinkActive="'is-active'">Contact</a>   
            </li>
          </ul>
      </div>
    </div>
  </nav>

<!-- <div class="container-fluid ">
    <ul class="navbar navbar-expand-lg navbar-dark bg-dark">
        <li class="nav-item">
            <a class="nav-link active" routerLink='/Dashboard'>Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='/contact'>Contact</a>
        </li>
    </ul>
</div> -->

<router-outlet></router-outlet>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>
<h1>s</h1>